@model Category
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create" >
    <div class="p-lg-3 border">
@*        <div class="text-danger" asp-validation-summary="ModelOnly"></div>    *@        
        <div class="mb-3 row">
            <h2 class="text-info p-lg-3">Add Category</h2>
            <div class="row">
            <div class="col-8">
                <div class="mb-3 row">
                    <div class="col-4">
                       <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input  asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder" class="form-control" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                           <input type="submit" value="Create" class="btn btn-info w-100" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
        </div>
    </div>
</form>
@section Scripts{
    @{ <partial name="_ValidationScriptsPartial"/> }
}